[submodule "SFML"]
	path = SFML
	url = https://github.com/SFML/SFML.git
[submodule "ctti"]
	path = ctti
	url = https://github.com/Manu343726/ctti.git
[submodule "box2d"]
	path = box2d
	url = ./box2d
[submodule "rapidjson"]
	path = rapidjson
	url = git@github.com:Tencent/rapidjson.git
